# directories
/results/

# data directory
/data/rest/
/data/task/
/data/tmp/


# environment
.env

#pycache
**/__pycache__

#Results files: .pkl
*.pkl

# Keep Glasser Parcellation file
!templates/Glasser_Parcellation_210.32k_fs_LR.dlabel.nii 

# juypter notebook
.ipynb_checkpoints

# .DS_Store
.DS_Store