# directories
/results/

# data directory
/data/rest/
/data/task/
/data/tmp/



# environment
.env

#pycache
**/__pycache__


# Rhistory Files
*.Rhistory
 

# juypter notebook
.ipynb_checkpoints
scratch.ipynb

# Runner shell script
run_analysis.sh

# .DS_Store
.DS_Store

# demo_files utility functions
extract_results_ts.py
utils/subject_sample_indices.json
