# directories
/results/

# data directory
/data/rest/
/data/task/
/data/tmp/


# environment
.env

#pycache
**/__pycache__


# Rhistory Files
*.Rhistory
 

# juypter notebook
.ipynb_checkpoints

# .DS_Store
.DS_Store

# demo_files utility functions
extract_results_ts.py
