certifi==2020.6.20
cycler==0.10.0
docutils==0.15.2
fbpca==1.0
jmespath==0.10.0
joblib==0.15.1
kiwisolver==1.2.0
matplotlib==3.2.2
nibabel==3.1.0
numpy==1.19.0
packaging==20.4
pyparsing==2.4.7
python-dateutil==2.8.1
s3transfer==0.3.3
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
threadpoolctl==2.1.0
urllib3==1.25.9
