certifi==2020.6.20
cycler==0.10.0
docutils==0.15.2
fbpca==1.0
hmmlearn==0.2.4
jmespath==0.10.0
joblib==0.15.1
kiwisolver==1.2.0
matplotlib==3.2.2
nibabel==3.1.0
numpy==1.19.0
packaging==20.4
pandas==1.0.5
patsy==0.5.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
statsmodels==0.11.1
threadpoolctl==2.1.0
urllib3==1.26.5